body {
  background-color: rgb(6, 72, 72);
  color: white;
}

.header {
  margin-bottom: 50px;
}

.header,
.sub-header {
  text-align: center;
}

.browse {
  border-radius: 30px;
  padding: 20px 40px;
  border: none;
  background-color: rgb(100, 15, 15);
  font-weight: bold;
  color: white;
  margin-top: 70px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s linear;
}

.browse:hover {
  background-color: greenyellow;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.featured {
  margin-top: 120px;
}

.feature {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cars {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  color: black;
}

#car {
  height: 400px;
  width: 400px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.click {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(100, 15, 15);
  font-weight: bold;
  color: white;
  margin-top: 50px;
  transition: all 0.5s linear;
}

.click:hover {
  background-color: greenyellow;
}

#footer {
  margin-top: 100px;
  background-color: rgb(42, 38, 38);
  padding-top: 50px;
  padding-bottom: 50px;
}

#inventory {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

#choose {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

#finance {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

#clients {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

#ready {
  background-color: rgba(58, 110, 92, 0.355);
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  font-weight: bolder;
  font-size: 80px;
}

.contact {
  border-radius: 40px;
  padding: 30px 80px;
  border: none;
  background-color: rgb(100, 15, 15);
  font-weight: bold;
  color: white;
  margin-top: 70px;
  display: inline-block;
  transition: all 0.5s linear;
  font-size: larger;
}

#input {
  padding-right: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.text {
  display: block;
  text-align: center;
}

.area {
  margin-left: 550px;
}

.benzy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

#beny {
  color: black;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  height: 350px;
  width: 350px;
  background-color: white;
}

#ben {
  height: 300px;
  width: 300px;
}
